@model GeneracionInvitaciones.Models.RespuestaInvitado

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/estilos.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>RsvpForm</title>
</head>
<body>
    <div class="container col-md-4 col-md-offset-4">
        @using (Html.BeginForm(new { @class = "form-horizontal align-middle", role = "form" }))
        {
            <p>Nombre: @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", placeholder = "Nombre completo", tabindex = 1 })</p>
            <p>Correo: @Html.TextBoxFor(x => x.Correo, new { @class = "form-control", placeholder = "Correo electronico", tabindex = 2 })</p>
            <p>Telefono: @Html.TextBoxFor(x => x.Telefono, new { @class = "form-control", placeholder = "Telefono", tabindex = 3 })</p>
            <p>
                ¿Asistira?: @Html.DropDownListFor(x => x.Asistira, new[]
                {
                new SelectListItem() { Text = "Si, Asistire", Value = bool.TrueString},
                new SelectListItem(){ Text = "No asistire", Value = bool.FalseString}
                },"Elige una opcion", new { @class = "form-control" })
            </p>
            <button type="submit" class="btn btn-primary">Enviar invitacion</button>
        }
    </div>
    <div class="col-md-4 col-md-offset-4">
        <div class="alert alert-danger" role="alert">
            @Html.ValidationSummary()
        </div>
    </div>
</body>
</html>
